<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Default" />

	<f:section name="main">

		<f:if condition="<f:count>{posts}</f:count> == 0">
		  <f:translate key="post.noresult" />
		</f:if>

		<f:render partial="Blog/Filter" arguments="{blog: blog, category: category, settings: settings}" />

		<f:render partial="Post/List" arguments="{posts: posts, category: category, pagination: pagination, settings: settings}" />

	</f:section>

</div>