<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
	<div class="form-group">
		<label class="control-label" for="newComment.comment"><f:translate key="comment.text" />
			<span class="required">*</span>
		</label>
		<div class="input">
			<textarea placeholder="<f:translate key='comment.text.placeholder' />" required="required" class="xxlarge form-control" id="newComment.comment" name="tx_maagitblog_pi1[newComment][comment]"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label" for="newComment.author"><f:translate key="comment.author" />
			<span class="required">*</span>
		</label>
		<div class="input">
			<input required="required" placeholder="<f:translate key='comment.author.placeholder' />" class=" form-control" id="newComment.author" name="tx_maagitblog_pi1[newComment][author]" type="text" value="" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label" for="newComment.email"><f:translate key="comment.email" />
			<span class="required">*</span>
		</label>
		<div class="input">
			<input placeholder="<f:translate key='comment.email.placeholder' />" required="required" class=" form-control" id="newComment.email" name="tx_maagitblog_pi1[newComment][email]" type="email" value="" />
		</div>
	</div>
	<div class="actions">
		<nav class="form-navigation">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<span class="btn-group next submit">
						<button class="btn btn-primary" type="submit" value="1">
                            <f:translate key="comment.submit" />
						</button>
					</span>
				</div>
			</div>
		</nav>
	</div>
</div>