<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:render section="commentForm" arguments="{_all}" />

	<f:section name="commentForm">
		<f:form
			controller="Comment"
			action="create"
			section="comment-section"
			name="newComment"
			object="{newComment}"
			arguments="{post.linkParameter}">

			<fieldset>
				<h3><f:translate key="comment.new" /></h3>
				<f:if condition="{message}"><f:then>
					<p class="message"><f:format.raw>{message}</f:format.raw></p>
				</f:then></f:if>
				<f:render partial="Comment/Formfields" arguments="{_all}" />
			</fieldset>
		</f:form>
	</f:section>

</div>