<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<h1 style="font-size: 14px; font-weight: bold;"><f:translate key="LLL:EXT:maagitblog/Resources/Private/Language/locallang.xlf:mail.newComment.title" /></h1>
	<table>
		<tr style="vertical-align: top;">
			<td style="font-size: 12px; font-weight: bold; background-color: #ebebeb;"><f:translate key="LLL:EXT:maagitblog/Resources/Private/Language/locallang.xlf:mail.newComment.blog.label" /></td>
			<td style="font-size: 12px; background-color: #ebebeb;">&nbsp;</td>
			<td style="font-size: 12px; background-color: #ebebeb;">{blog.title}</td>
		</tr>
		<tr style="vertical-align: top;">
			<td style="font-size: 12px; font-weight: bold; background-color: #ebebeb;"><f:translate key="LLL:EXT:maagitblog/Resources/Private/Language/locallang.xlf:mail.newComment.post.label" /></td>
			<td style="font-size: 12px; background-color: #ebebeb;">&nbsp;</td>
			<td style="font-size: 12px; background-color: #ebebeb;">{post.title}</td>
		</tr>
		<tr style="vertical-align: top;">
			<td style="font-size: 12px; font-weight: bold; background-color: #ebebeb;"><f:translate key="LLL:EXT:maagitblog/Resources/Private/Language/locallang.xlf:mail.newComment.comment.label" /></td>
			<td style="font-size: 12px; background-color: #ebebeb;">&nbsp;</td>
			<td style="font-size: 12px; background-color: #ebebeb;">{post.comment.text}</td>
		</tr>
		<tr style="vertical-align: top;">
			<td style="font-size: 12px; font-weight: bold; background-color: #ebebeb;"><f:translate key="LLL:EXT:maagitblog/Resources/Private/Language/locallang.xlf:mail.newComment.author.label" /></td>
			<td style="font-size: 12px; background-color: #ebebeb;">&nbsp;</td>
			<td style="font-size: 12px; background-color: #ebebeb;">{post.comment.author}</td>
		</tr>
		<tr style="vertical-align: top;">
			<td style="font-size: 12px; font-weight: bold; background-color: #ebebeb;"><f:translate key="LLL:EXT:maagitblog/Resources/Private/Language/locallang.xlf:mail.newComment.email.label" /></td>
			<td style="font-size: 12px; background-color: #ebebeb;">&nbsp;</td>
			<td style="font-size: 12px; background-color: #ebebeb;">{post.comment.email}</td>
		</tr>
		<f:if condition="{settings.checkComment}">
			<tr style="vertical-align: top;">
				<td style="font-size: 12px; font-weight: bold; background-color: #ebebeb;"><f:translate key="LLL:EXT:maagitblog/Resources/Private/Language/locallang.xlf:mail.newComment.link.label" /></td>
				<td style="font-size: 12px; background-color: #ebebeb;">&nbsp;</td>
				<td style="font-size: 12px; background-color: #ebebeb;">
					<a href='{f:cObject(typoscriptObjectPath: 'lib.tx_maagitblog.currentDomain', data: '0')}<f:uri.action extensionName="Maagitblog" pluginName="Pi1" controller="Comment" action="accept" arguments="{commentUid: post.comment.uid}" />'>
						<f:translate key="LLL:EXT:maagitblog/Resources/Private/Language/locallang.xlf:mail.newComment.accept.link" />
					</a>
				</td>
			</tr>
		</f:if>
	</table>

</div>