<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Default" />

	<f:section name="main">

		<nav>
			<f:if condition="<f:cObject typoscriptObjectPath='lib.tx_maagitblog.category'></f:cObject>">
				<f:then>
					<f:link.action controller="Blog" action="category" arguments="{post.linkParameter}">
						<f:translate key="post.backToList" />
					</f:link.action>
				</f:then>
				<f:else>
					<f:link.action controller="Blog" action="list" arguments="{post.linkParameter}">
						<f:translate key="post.backToList" />
					</f:link.action>
				</f:else>
			</f:if>
		</nav>
		<p>&nbsp;</p>

		<article class="well">
			<header>
				<h3>
					{post.title}
				</h3>
				
				<p class="top">
					<f:cObject typoscriptObjectPath="lib.tx_maagitblog.date"><f:format.date format="U" date="{post.date}" /></f:cObject><f:if condition="{post.author}">, <span class="author">{f:if(condition: post.author.realName, then: post.author.realName, else: post.author.username)}</span></f:if>
				</p>
			</header>
			<f:for each="{post.posttext}" as="content">
				<f:cObject typoscriptObjectPath="lib.tx_maagitblog.contentElement">{content.uid}</f:cObject>
			</f:for>
		</article>

		<div id="comment-section">
			<div class="well" id="comments">
				<h3 id="comment-list"><f:count subject="{post.comments}" /> 
					<f:if condition="<f:count>{post.comments}</f:count> == 1"><f:then><f:translate key="post.comment" /></f:then><f:else><f:translate key="post.comments" /></f:else></f:if>
				</h3>
				<f:if condition="{post.comments}">
					<div>
						<f:for each="{post.comments}" as="comment">
							<hr />
							<f:render partial="Post/Comment" arguments="{post: post, comment: comment}" />
						</f:for>
					</div>
				</f:if>
			</div>
      
			<div class="well" id="comment-form">
				<hr />
				<f:render partial="Comment/New" arguments="{post: post, newComment: newComment, message: message, settings: settings}" />
			</div>
		</div>

	</f:section>
</div>