<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:if condition="{category}">
		<div class="alert alert-info">
			<f:translate key="filter.legend" /> <f:translate key="filter.category" />
			<em>{category.title}</em>
			<f:link.action controller="Blog" action="list" class="pull-right">
				<f:translate key="filter.reset" />
			</f:link.action>
		</div>
	</f:if>

</div>