<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Default" />

	<f:section name="main">

		<article class="well">
			<header>
				<h3>
					<f:translate key="comment.accepted" />
				</h3>
			</header>

			<p><f:translate key="comment.accepted.text" /></p>
			<p>&nbsp;</p>
			
			<table>
				<tr>
					<td class="label"><f:translate key="comment.accepted.post" /></td>
					<td class="value">{post.title}</td>
				</tr>
				<tr>
					<td class="label"><f:translate key="comment.accepted.comment" /></td>
					<td class="value"><f:format.html>{comment.comment}</f:format.html></td>
				</tr>
				<tr>
					<td class="label"><f:translate key="comment.accepted.author" /></td>
					<td class="value">{comment.author}</td>
				</tr>
				<tr>
					<td class="label"><f:translate key="comment.accepted.email" /></td>
					<td class="value">{comment.email}</td>
				</tr>
			</table>
			
			<p>&nbsp;</p>
			<nav>
				<f:link.action controller="Blog" action="list">
					<f:translate key="post.backToList" />
				</f:link.action>
			</nav>
		</article>

	</f:section>
</div>