.tx-maagitblog .tx-maagitblog-blog-list h3, .tx-maagitblog .tx-maagitblog-post-list h3 {
	margin: 10px 0 0 0;
	float: left;
}
.tx-maagitblog .tx-maagitblog-description, .tx-maagitblog .tx-maagitblog-content {
	margin: 0 0 15px 0;
	clear: both;
}

.tx-maagitblog .tx-maagitblog-options {
	margin: 10px 0 0 5px;
	float: left;
	clear: right;
}

.tx-maagitblog .tx-maagitblog-linksection {
	margin: 20px 0;
	padding: 3px;
	background: #f5f5f5;
	border: 1px solid #e0e0e0;
	height: 16px;
}

.tx-maagitblog .tx-maagitblog-metadata {
	font-size: 0.8em;
	color: #777;
}

.tx-maagitblog .tx-maagitblog-tags {
	margin: 5px 0;
}
.tx-maagitblog .tx-maagitblog-tags li {
	display: inline;
}

.tx-maagitblog .tx-maagitblog-comments {
	padding-top: 20px;
	clear: left;
}
.tx-maagitblog .tx-maagitblog-comments li {
	margin: 10px 0;
}
.tx-maagitblog .tx-maagitblog-comments p {
	font-size: .9em;
}
.tx-maagitblog .tx-maagitblog-comments .tx-maagitblog-options {
	float: none;
	display: inline;
}
.tx-maagitblog p.message {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}

/* Pagination */

.tx-maagitblog .f3-widget-paginator {
	margin: 20px 0;
	padding: 0;
}
.tx-maagitblog .f3-widget-paginator li {
	margin: 0;
	padding: 0;
	display: inline;
}
.tx-maagitblog .f3-widget-paginator li a {
	padding: 2px 12px;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	color: #303030;
	text-decoration: none;
}
.tx-maagitblog .f3-widget-paginator li.current {
	padding: 2px 12px;
	background-color: #f9d4d4;
	border: 1px solid #ccc;
	color: #303030;
	text-decoration: none;
	margin-right: 4px;
	padding-right: 8px;
}
.tx-maagitblog .f3-widget-paginator li a:hover, .tx-maagitblog .f3-widget-paginator li a:active {
	background-color: #ffffff;
	color: #303030;
}


/* Commment accepted */

.tx-maagitblog tr {
	vertical-align: top;
}
.tx-maagitblog td {
	background-color: #ebebeb;
}
.tx-maagitblog td.label {
	width: 20%;
	font-weight: bold;
}
.tx-maagitblog td.value {
	width: 80%;
}