<f:section name="renderPagination">
	<f:variable name="action" value="list" />
	<f:if condition="<f:cObject typoscriptObjectPath='lib.tx_maagitblog.category'></f:cObject>">
		<f:variable name="action" value="category" />
	</f:if>

	<ul class="f3-widget-paginator">
        <f:if condition="{pagination.previousPage}">
            <li class="previous">
                <f:if condition="{pagination.previousPage} > 1">
                    <f:then>
                        <f:link.action rel="prev" arguments="{action: action, category: category, currentPage: pagination.previousPage}" addQueryString="true"><f:translate key="pagination.previous" /></f:link.action>
                    </f:then>
                    <f:else>
                        <f:link.action rel="prev" arguments="{action: action, category: category, currentPage: 1}" addQueryString="true"><f:translate key="pagination.previous" /></f:link.action>
                    </f:else>
                </f:if>
            </li>
        </f:if>
        <f:if condition="{pagination.displayRangeStart} > 1">
            <li class="first">
                <f:link.action arguments="{action: action, category: category, currentPage: 1}" addQueryString="true">1</f:link.action>
            </li>
        </f:if>
        <f:if condition="{pagination.hasLessPages}">
            <li>…</li>
        </f:if>
        <f:for each="{pagination.pages}" as="page">
            <f:if condition="{page.isCurrent}">
                <f:then>
                    <li class="current">
                        {page.number}
                    </li>
                </f:then>
                <f:else>
                    <li>
                        <f:if condition="{page.number} > 1">
                            <f:then>
                                <f:link.action arguments="{action: action, category: category, currentPage: page.number}" addQueryString="true">{page.number}</f:link.action>
                            </f:then>
                            <f:else>
				                <f:link.action arguments="{action: action, category: category, currentPage: 1}" addQueryString="true">{page.number}</f:link.action>
                            </f:else>
                        </f:if>
                    </li>
                </f:else>
            </f:if>
        </f:for>
        <f:if condition="{pagination.hasMorePages}">
            <li>…</li>
        </f:if>
        <f:if condition="{pagination.displayRangeEnd} < {pagination.numberOfPages}">
            <li class="last">
                <f:link.action arguments="{action: action, category: category, currentPage: pagination.numberOfPages}" addQueryString="true">{pagination.numberOfPages}</f:link.action>
            </li>
        </f:if>
        <f:if condition="{pagination.nextPage}">
            <li class="next">
                <f:link.action rel="next" action="{action}" arguments="{category: category, currentPage: pagination.nextPage}" addQueryString="true"><f:translate key="pagination.next" /></f:link.action>
            </li>
        </f:if>
    </ul>
</f:section>