<f:if condition="{post.categories}">
	<f:for each="{post.categories}" as="category" iteration="iterator">
		<span class="category">
			<f:link.action controller="Blog" action="category" arguments="{category: category.uid}" addQueryString="true">{category.title}</f:link.action><f:if condition="{iterator.isLast}"><f:else>, </f:else></f:if>
		</span>
	</f:for>
</f:if>