<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<div id="comment-{comment.uid}" class="comment{f:if(condition: '{comment.email} == {post.author.email}', then: ' well')}">
		<div class="row">
			<div class="col-xs-3 text-right">
				<strong>{comment.author}</strong>
				<p title="{comment.date -> f:format.date(format: 'd.m.Y - H:i:s')}">
					<f:cObject typoscriptObjectPath="lib.tx_maagitblog.date"><f:format.date format="U" date="{comment.date}" /></f:cObject>
				</p>
			</div>
			<div class="col-xs-8">
				<f:format.html>{comment.comment}</f:format.html>
			</div>
		</div>
	</div>

</div>