<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
	
	<f:if condition="{settings.paginate.insertAbove}">
		<f:render partial="Div/Pagination" section="renderPagination" arguments="{category: category, pagination: pagination}" />
	</f:if>
	<f:for each="{pagination.paginatedItems}" as="post">
		<article class="well">
	   		<header>
				<h3>
					<f:link.action controller="Post" action="show" arguments="{post.linkParameter}" addQueryString="true">
						{post.title}
					</f:link.action>
				</h3>
				<p class="top">
					<f:cObject typoscriptObjectPath="lib.tx_maagitblog.date"><f:format.date format="U" date="{post.date}" /></f:cObject><f:if condition="{post.author}">, <span class="author">{f:if(condition: post.author.realName, then: post.author.realName, else: post.author.username)}</span></f:if>
					<f:if condition="{post.categories}">
						- <f:render partial="Post/Categories" arguments="{post: post, settings: settings}" />
					</f:if>
				</p>
			</header>

			<f:for each="{post.preview}" as="content">
				<f:cObject typoscriptObjectPath="lib.tx_maagitblog.contentElement">{content.uid}</f:cObject>
				<br>
				<div class="bottom row">
					<div class="col-xs-4">
						<f:link.action controller="Post" action="show" arguments="{post.linkParameter}" section="comment-list">
							<span class="badge">
								<span class="icon icon-comments glyphicon glyphicon-comment" aria-hidden="true"></span>
								<f:count subject="{post.comments}" />
								  <f:if condition="<f:count>{post.comments}</f:count> == 1">
								  	<f:then><f:translate key="post.comment" /></f:then>
									<f:else><f:translate key="post.comments" /></f:else>
								</f:if>
							</span>
						</f:link.action>
					</div>
				</div>
			</f:for>
					
			<f:render partial="Post/MoreButton" arguments="{post: post, settings: settings}" />
		</article>
	</f:for>
	<f:if condition="{settings.paginate.insertBelow}">
		<f:render partial="Div/Pagination" section="renderPagination" arguments="{category: category, pagination: pagination}" />
	</f:if>
	
</div>