<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

	<f:link.action controller="Post" action="show" arguments="{post.linkParameter}" addQueryString="true">
		<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
		<f:translate key="post.more" />
	</f:link.action>

</html>